# Tarea 2

In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\realx\appdata\local\programs\python\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\realx\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)

Importan bibliotecas necesarias para el procesamiento de la base de datos

In [27]:
# importa las bibliotecas Pandas, Numpy
import pandas as pd
import matplotlib as mpl
import numpy as np
import matplotlib.pyplot as plt
import re

Se lee la base de datos en un dataframe "df"

In [28]:
ubicacion = "./datos/chile_earthquakes_1520-2024.tsv"

directorio_salida = "./salida/"

(OPCIONAL) Comprobar que los datos se cargaron correctamente mediante la visualizaci√≥n de las primeras 10 filas

In [29]:
# Crea una lista con el encabezado
encabezado = ["Search Parameters",	"Year",	"Mo",	"Dy",	"Hr",	"Mn",	"Tsu",	"Country",	"Location Name",	"Latitude",	"Longitude",	"Focal Depth (km)",	"Mag",	"Deaths",	"Missing",	"Injuries",	"Damage ($Mil)",	"Houses Destroyed",	"Houses Damaged"]
df = pd.read_csv(ubicacion, sep='\t', names=encabezado)

Lista con el encabezado de las columnas de la base de datos

In [30]:
print("headers\n", encabezado)

headers
 ['Search Parameters', 'Year', 'Mo', 'Dy', 'Hr', 'Mn', 'Tsu', 'Country', 'Location Name', 'Latitude', 'Longitude', 'Focal Depth (km)', 'Mag', 'Deaths', 'Missing', 'Injuries', 'Damage ($Mil)', 'Houses Destroyed', 'Houses Damaged']

(OPCIONAL) Comprobar que los encabezados se cargaron correctamente

In [31]:
df.head(10)

,Search Parameters,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,Search Parameters,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
1,"[""Region = 160 - South America"",""Country = CHI...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1520,NaN,NaN,NaN,NaN,NaN,CHILE,CHILE,-40,-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1543,NaN,NaN,NaN,NaN,NaN,CHILE,CHILE,-19,-70.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1562,10,28,10,NaN,178,CHILE,CHILE,-38.7,-73.5,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,1570,2,8,13,NaN,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,NaN,8.3,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,NaN,8.5,21,NaN,NaN,NaN,NaN,NaN
7,NaN,1604,12,NaN,NaN,NaN,NaN,CHILE,CHILE,-29.9,-71.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1615,9,16,NaN,NaN,230,CHILE,CHILE: ARICA,-18.5,-70.35,NaN,7.5,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1633,5,14,NaN,NaN,246,CHILE,CHILE: FORT CARELMAPU,-41.8,-73.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Eliminacion de fila innecesaria para el analisis de datos

In [32]:
# Elimina las filas 0 y 1
df = df.drop([0, 1])

In [34]:
# Reinicia los √≠ndices
df = df.reset_index(drop=True)
df.head(10)

,Search Parameters,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,NaN,1520,NaN,NaN,NaN,NaN,NaN,CHILE,CHILE,-40,-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1543,NaN,NaN,NaN,NaN,NaN,CHILE,CHILE,-19,-70.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1562,10,28,10,NaN,178,CHILE,CHILE,-38.7,-73.5,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1570,2,8,13,NaN,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,NaN,8.3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,NaN,8.5,21,NaN,NaN,NaN,NaN,NaN
5,NaN,1604,12,NaN,NaN,NaN,NaN,CHILE,CHILE,-29.9,-71.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,1615,9,16,NaN,NaN,230,CHILE,CHILE: ARICA,-18.5,-70.35,NaN,7.5,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,1633,5,14,NaN,NaN,246,CHILE,CHILE: FORT CARELMAPU,-41.8,-73.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1639,12,NaN,NaN,NaN,NaN,CHILE,CHILE,-30,-71.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1647,5,14,2,30,NaN,CHILE,CHILE: SANTIAGO,-33.4,-70.6,NaN,8.5,1000,NaN,NaN,NaN,300,NaN

Analisis basico de los datos de entrada

In [42]:
df.tail()

,Search Parameters,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
193,NaN,2019,1,20,1,32,NaN,CHILE,"CHILE: COQUIMBO, LA SERENA",-30.04,-71.382,63,6.7,2,NaN,NaN,NaN,NaN,1061
194,NaN,2019,6,14,0,19,5710,CHILE,CHILE: COQUIMBO,-30.056,-72.082,11,6.4,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,2019,9,26,16,36,NaN,CHILE,CHILE: SOUTH CENTRAL,-40.815,-72.002,129,6.1,1,NaN,NaN,NaN,NaN,NaN
196,NaN,2019,9,29,15,57,NaN,CHILE,CHILE: CONCEPCION,-35.473,-73.162,11,6.8,1,NaN,NaN,NaN,NaN,NaN
197,NaN,2020,12,27,21,39,5760,CHILE,CHILE: OFF COAST CENTRAL,-39.343,-74.99,10,6.7,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
#Informaci√≥n y an√°lisis estad√≠stico
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Search Parameters  0 non-null      object
 1   Year               198 non-null    object
 2   Mo                 195 non-null    object
 3   Dy                 193 non-null    object
 4   Hr                 151 non-null    object
 5   Mn                 147 non-null    object
 6   Tsu                145 non-null    object
 7   Country            198 non-null    object
 8   Location Name      198 non-null    object
 9   Latitude           198 non-null    object
 10  Longitude          198 non-null    object
 11  Focal Depth (km)   110 non-null    object
 12  Mag                146 non-null    object
 13  Deaths             53 non-null     object
 14  Missing            2 non-null      object
 15  Injuries           23 non-null     object
 16  Damage ($Mil)      18 non-null     object
 17  Houses Destroyed   13 non-null     object
 18  Houses Damaged     7 non-null      object
dtypes: object(19)
memory usage: 29.5+ KB

,Search Parameters,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
count,0,198,195,193,151,147,145,198,198,198,198,110,146,53,2,23,18,13,7
unique,0,123,12,31,24,52,145,1,89,133,104,46,33,26,2,20,16,13,7
top,NaN,1869,12,14,2,15,178,CHILE,CHILE: NORTHERN,-18.5,-71,33,7.5,1,30,200,100,300,15700
freq,NaN,6,25,14,11,10,1,198,23,7,16,22,11,13,1,2,2,1,1

In [44]:
# Dimensi√≥n del dataframe (rows, columns)
df.shape

(198, 19)

In [38]:
datos_faltantes = df.isnull()
datos_faltantes.head(10)

,Search Parameters,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,True,False,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True,True
1,True,False,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True,True
2,True,False,False,False,False,True,False,False,False,False,False,True,False,True,True,True,True,True,True
3,True,False,False,False,False,True,False,False,False,False,False,True,False,True,True,True,True,True,True
4,True,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,True,True
5,True,False,False,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True,True
6,True,False,False,False,True,True,False,False,False,False,False,True,False,True,True,True,True,True,True
7,True,False,False,False,True,True,False,False,False,False,False,True,True,True,True,True,True,True,True
8,True,False,False,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True,True
9,True,False,False,False,False,False,True,False,False,False,False,True,False,False,True,True,True,False,True

In [39]:
for columna in datos_faltantes.columns.values.tolist():
    print('columna:',columna)
    print (datos_faltantes[columna].value_counts())
    print("")

columna: Search Parameters
Search Parameters
True    198
Name: count, dtype: int64

columna: Year
Year
False    198
Name: count, dtype: int64

columna: Mo
Mo
False    195
True       3
Name: count, dtype: int64

columna: Dy
Dy
False    193
True       5
Name: count, dtype: int64

columna: Hr
Hr
False    151
True      47
Name: count, dtype: int64

columna: Mn
Mn
False    147
True      51
Name: count, dtype: int64

columna: Tsu
Tsu
False    145
True      53
Name: count, dtype: int64

columna: Country
Country
False    198
Name: count, dtype: int64

columna: Location Name
Location Name
False    198
Name: count, dtype: int64

columna: Latitude
Latitude
False    198
Name: count, dtype: int64

columna: Longitude
Longitude
False    198
Name: count, dtype: int64

columna: Focal Depth (km)
Focal Depth (km)
False    110
True      88
Name: count, dtype: int64

columna: Mag
Mag
False    146
True      52
Name: count, dtype: int64

columna: Deaths
Deaths
True     145
False     53
Name: count, dtype: int64

columna: Missing
Missing
True     196
False      2
Name: count, dtype: int64

columna: Injuries
Injuries
True     175
False     23
Name: count, dtype: int64

columna: Damage ($Mil)
Damage ($Mil)
True     180
False     18
Name: count, dtype: int64

columna: Houses Destroyed
Houses Destroyed
True     185
False     13
Name: count, dtype: int64

columna: Houses Damaged
Houses Damaged
True     191
False      7
Name: count, dtype: int64