In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\realx\appdata\local\programs\python\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\realx\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)

In [29]:
# importa las bibliotecas Pandas, Numpy
import pandas as pd
import matplotlib as mpl
import numpy as np
import matplotlib.pyplot as plt
import re

In [30]:
ubicacion = "./datos/chile_earthquakes_1520-2024.tsv"
df = pd.read_csv(ubicacion, sep='\t', header=None)
directorio_salida = "./salida/"

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
 1   1       199 non-null    object
 2   2       196 non-null    object
 3   3       194 non-null    object
 4   4       152 non-null    object
 5   5       148 non-null    object
 6   6       146 non-null    object
 7   7       199 non-null    object
 8   8       199 non-null    object
 9   9       199 non-null    object
 10  10      199 non-null    object
 11  11      111 non-null    object
 12  12      147 non-null    object
 13  13      54 non-null     object
 14  14      3 non-null      object
 15  15      24 non-null     object
 16  16      19 non-null     object
 17  17      14 non-null     object
 18  18      8 non-null      object
dtypes: object(19)
memory usage: 29.8+ KB

In [37]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Search Parameters,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
1,"[""Region = 160 - South America"",""Country = CHI...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1520,NaN,NaN,NaN,NaN,NaN,CHILE,CHILE,-40,-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1543,NaN,NaN,NaN,NaN,NaN,CHILE,CHILE,-19,-70.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1562,10,28,10,NaN,178,CHILE,CHILE,-38.7,-73.5,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,1570,2,8,13,NaN,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,NaN,8.3,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,NaN,8.5,21,NaN,NaN,NaN,NaN,NaN
7,NaN,1604,12,NaN,NaN,NaN,NaN,CHILE,CHILE,-29.9,-71.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1615,9,16,NaN,NaN,230,CHILE,CHILE: ARICA,-18.5,-70.35,NaN,7.5,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1633,5,14,NaN,NaN,246,CHILE,CHILE: FORT CARELMAPU,-41.8,-73.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
195,NaN,2019,1,20,1,32,NaN,CHILE,"CHILE: COQUIMBO, LA SERENA",-30.04,-71.382,63,6.7,2,NaN,NaN,NaN,NaN,1061
196,NaN,2019,6,14,0,19,5710,CHILE,CHILE: COQUIMBO,-30.056,-72.082,11,6.4,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,2019,9,26,16,36,NaN,CHILE,CHILE: SOUTH CENTRAL,-40.815,-72.002,129,6.1,1,NaN,NaN,NaN,NaN,NaN
198,NaN,2019,9,29,15,57,NaN,CHILE,CHILE: CONCEPCION,-35.473,-73.162,11,6.8,1,NaN,NaN,NaN,NaN,NaN
199,NaN,2020,12,27,21,39,5760,CHILE,CHILE: OFF COAST CENTRAL,-39.343,-74.99,10,6.7,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Dimensi√≥n del dataframe (rows, columns)
df.shape

(200, 19)