# Tarea 2

In [160]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\realx\appdata\local\programs\python\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\realx\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)

Importan bibliotecas necesarias para el procesamiento de la base de datos

In [161]:
# importa las bibliotecas Pandas, Numpy
import pandas as pd
import matplotlib as mpl
import numpy as np
import matplotlib.pyplot as plt
import re

Se lee la base de datos en un dataframe "df"

In [162]:
ubicacion = "./datos/chile_earthquakes_1520-2024.tsv"

directorio_salida = "./salida/"

(OPCIONAL) Comprobar que los datos se cargaron correctamente mediante la visualizaci√≥n de las primeras 10 filas

In [163]:
# Crea una lista con el encabezado
encabezado = ["Search Parameters",	"Year",	"Mo",	"Dy",	"Hr",	"Mn",	"Tsu",	"Country",	"Location Name",	"Latitude",	"Longitude",	"Focal Depth (km)",	"Mag",	"Deaths",	"Missing",	"Injuries",	"Damage ($Mil)",	"Houses Destroyed",	"Houses Damaged"]
df = pd.read_csv(ubicacion, sep='\t', names=encabezado)

Lista con el encabezado de las columnas de la base de datos

In [164]:
print("headers\n", encabezado)

headers
 ['Search Parameters', 'Year', 'Mo', 'Dy', 'Hr', 'Mn', 'Tsu', 'Country', 'Location Name', 'Latitude', 'Longitude', 'Focal Depth (km)', 'Mag', 'Deaths', 'Missing', 'Injuries', 'Damage ($Mil)', 'Houses Destroyed', 'Houses Damaged']

(OPCIONAL) Comprobar que los encabezados se cargaron correctamente

In [165]:
df.head(10)

,Search Parameters,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,Search Parameters,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
1,"[""Region = 160 - South America"",""Country = CHI...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1520,NaN,NaN,NaN,NaN,NaN,CHILE,CHILE,-40,-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1543,NaN,NaN,NaN,NaN,NaN,CHILE,CHILE,-19,-70.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1562,10,28,10,NaN,178,CHILE,CHILE,-38.7,-73.5,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,1570,2,8,13,NaN,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,NaN,8.3,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,NaN,8.5,21,NaN,NaN,NaN,NaN,NaN
7,NaN,1604,12,NaN,NaN,NaN,NaN,CHILE,CHILE,-29.9,-71.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1615,9,16,NaN,NaN,230,CHILE,CHILE: ARICA,-18.5,-70.35,NaN,7.5,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1633,5,14,NaN,NaN,246,CHILE,CHILE: FORT CARELMAPU,-41.8,-73.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Eliminacion de fila innecesaria para el analisis de datos

In [166]:
# Elimina las filas 0 y 1
df = df.drop([0, 1])

In [167]:
# Reinicia los √≠ndices
df = df.reset_index(drop=True)
df.head(10)

,Search Parameters,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,NaN,1520,NaN,NaN,NaN,NaN,NaN,CHILE,CHILE,-40,-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1543,NaN,NaN,NaN,NaN,NaN,CHILE,CHILE,-19,-70.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1562,10,28,10,NaN,178,CHILE,CHILE,-38.7,-73.5,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1570,2,8,13,NaN,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,NaN,8.3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,NaN,8.5,21,NaN,NaN,NaN,NaN,NaN
5,NaN,1604,12,NaN,NaN,NaN,NaN,CHILE,CHILE,-29.9,-71.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,1615,9,16,NaN,NaN,230,CHILE,CHILE: ARICA,-18.5,-70.35,NaN,7.5,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,1633,5,14,NaN,NaN,246,CHILE,CHILE: FORT CARELMAPU,-41.8,-73.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1639,12,NaN,NaN,NaN,NaN,CHILE,CHILE,-30,-71.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1647,5,14,2,30,NaN,CHILE,CHILE: SANTIAGO,-33.4,-70.6,NaN,8.5,1000,NaN,NaN,NaN,300,NaN

In [168]:
df.tail()

,Search Parameters,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
193,NaN,2019,1,20,1,32,NaN,CHILE,"CHILE: COQUIMBO, LA SERENA",-30.04,-71.382,63,6.7,2,NaN,NaN,NaN,NaN,1061
194,NaN,2019,6,14,0,19,5710,CHILE,CHILE: COQUIMBO,-30.056,-72.082,11,6.4,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,2019,9,26,16,36,NaN,CHILE,CHILE: SOUTH CENTRAL,-40.815,-72.002,129,6.1,1,NaN,NaN,NaN,NaN,NaN
196,NaN,2019,9,29,15,57,NaN,CHILE,CHILE: CONCEPCION,-35.473,-73.162,11,6.8,1,NaN,NaN,NaN,NaN,NaN
197,NaN,2020,12,27,21,39,5760,CHILE,CHILE: OFF COAST CENTRAL,-39.343,-74.99,10,6.7,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
# Elimina la columna "Search Parameters"
df = df.drop("Search Parameters", axis=1)

# Muestra el DataFrame actualizado
df.head(10)

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,1520,NaN,NaN,NaN,NaN,NaN,CHILE,CHILE,-40,-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1543,NaN,NaN,NaN,NaN,NaN,CHILE,CHILE,-19,-70.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1562,10,28,10,NaN,178,CHILE,CHILE,-38.7,-73.5,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN
3,1570,2,8,13,NaN,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,NaN,8.3,NaN,NaN,NaN,NaN,NaN,NaN
4,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,NaN,8.5,21,NaN,NaN,NaN,NaN,NaN
5,1604,12,NaN,NaN,NaN,NaN,CHILE,CHILE,-29.9,-71.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1615,9,16,NaN,NaN,230,CHILE,CHILE: ARICA,-18.5,-70.35,NaN,7.5,NaN,NaN,NaN,NaN,NaN,NaN
7,1633,5,14,NaN,NaN,246,CHILE,CHILE: FORT CARELMAPU,-41.8,-73.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1639,12,NaN,NaN,NaN,NaN,CHILE,CHILE,-30,-71.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1647,5,14,2,30,NaN,CHILE,CHILE: SANTIAGO,-33.4,-70.6,NaN,8.5,1000,NaN,NaN,NaN,300,NaN

In [170]:
df.tail()

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
193,2019,1,20,1,32,NaN,CHILE,"CHILE: COQUIMBO, LA SERENA",-30.04,-71.382,63,6.7,2,NaN,NaN,NaN,NaN,1061
194,2019,6,14,0,19,5710,CHILE,CHILE: COQUIMBO,-30.056,-72.082,11,6.4,NaN,NaN,NaN,NaN,NaN,NaN
195,2019,9,26,16,36,NaN,CHILE,CHILE: SOUTH CENTRAL,-40.815,-72.002,129,6.1,1,NaN,NaN,NaN,NaN,NaN
196,2019,9,29,15,57,NaN,CHILE,CHILE: CONCEPCION,-35.473,-73.162,11,6.8,1,NaN,NaN,NaN,NaN,NaN
197,2020,12,27,21,39,5760,CHILE,CHILE: OFF COAST CENTRAL,-39.343,-74.99,10,6.7,NaN,NaN,NaN,NaN,NaN,NaN

Analisis basico de los datos de entrada

In [171]:
#Informaci√≥n y an√°lisis estad√≠stico
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              198 non-null    object
 1   Mo                195 non-null    object
 2   Dy                193 non-null    object
 3   Hr                151 non-null    object
 4   Mn                147 non-null    object
 5   Tsu               145 non-null    object
 6   Country           198 non-null    object
 7   Location Name     198 non-null    object
 8   Latitude          198 non-null    object
 9   Longitude         198 non-null    object
 10  Focal Depth (km)  110 non-null    object
 11  Mag               146 non-null    object
 12  Deaths            53 non-null     object
 13  Missing           2 non-null      object
 14  Injuries          23 non-null     object
 15  Damage ($Mil)     18 non-null     object
 16  Houses Destroyed  13 non-null     object
 17  Houses Damaged    7 non-null      object
dtypes: object(18)
memory usage: 28.0+ KB

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
count,198,195,193,151,147,145,198,198,198,198,110,146,53,2,23,18,13,7
unique,123,12,31,24,52,145,1,89,133,104,46,33,26,2,20,16,13,7
top,1869,12,14,2,15,178,CHILE,CHILE: NORTHERN,-18.5,-71,33,7.5,1,30,200,100,300,15700
freq,6,25,14,11,10,1,198,23,7,16,22,11,13,1,2,2,1,1

In [172]:
# Dimensi√≥n del dataframe (rows, columns)
df.shape

(198, 18)

In [173]:
datos_faltantes = df.isnull()
datos_faltantes.head(10)

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,False,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True,True
1,False,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True,True
2,False,False,False,False,True,False,False,False,False,False,True,False,True,True,True,True,True,True
3,False,False,False,False,True,False,False,False,False,False,True,False,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,True,True
5,False,False,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True,True
6,False,False,False,True,True,False,False,False,False,False,True,False,True,True,True,True,True,True
7,False,False,False,True,True,False,False,False,False,False,True,True,True,True,True,True,True,True
8,False,False,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True,True
9,False,False,False,False,False,True,False,False,False,False,True,False,False,True,True,True,False,True

In [174]:
for columna in datos_faltantes.columns.values.tolist():
    print('columna:',columna)
    print (datos_faltantes[columna].value_counts())
    print("")

columna: Year
Year
False    198
Name: count, dtype: int64

columna: Mo
Mo
False    195
True       3
Name: count, dtype: int64

columna: Dy
Dy
False    193
True       5
Name: count, dtype: int64

columna: Hr
Hr
False    151
True      47
Name: count, dtype: int64

columna: Mn
Mn
False    147
True      51
Name: count, dtype: int64

columna: Tsu
Tsu
False    145
True      53
Name: count, dtype: int64

columna: Country
Country
False    198
Name: count, dtype: int64

columna: Location Name
Location Name
False    198
Name: count, dtype: int64

columna: Latitude
Latitude
False    198
Name: count, dtype: int64

columna: Longitude
Longitude
False    198
Name: count, dtype: int64

columna: Focal Depth (km)
Focal Depth (km)
False    110
True      88
Name: count, dtype: int64

columna: Mag
Mag
False    146
True      52
Name: count, dtype: int64

columna: Deaths
Deaths
True     145
False     53
Name: count, dtype: int64

columna: Missing
Missing
True     196
False      2
Name: count, dtype: int64

columna: Injuries
Injuries
True     175
False     23
Name: count, dtype: int64

columna: Damage ($Mil)
Damage ($Mil)
True     180
False     18
Name: count, dtype: int64

columna: Houses Destroyed
Houses Destroyed
True     185
False     13
Name: count, dtype: int64

columna: Houses Damaged
Houses Damaged
True     191
False      7
Name: count, dtype: int64

In [175]:
#Cantidad de valores faltantes en cada columna
df.isnull().sum()

Year                  0
Mo                    3
Dy                    5
Hr                   47
Mn                   51
Tsu                  53
Country               0
Location Name         0
Latitude              0
Longitude             0
Focal Depth (km)     88
Mag                  52
Deaths              145
Missing             196
Injuries            175
Damage ($Mil)       180
Houses Destroyed    185
Houses Damaged      191
dtype: int64

Manipulacion de valores faltantes: Reemplazando por su promedio.

In [176]:
# Calcula el promedio de la columna "Mo"
Mo_prom = df["Mo"].astype("float").mean(axis=0)

# Redondea el promedio al entero m√°s cercano
Mo_prom_entero = int(round(Mo_prom))

# Reemplaza los valores faltantes en la columna "Mo" por su promedio entero
df["Mo"].fillna(Mo_prom_entero, inplace=True)

# Cantidad actualizada de valores faltantes en cada columna
print(df.isnull().sum())

Year                  0
Mo                    0
Dy                    5
Hr                   47
Mn                   51
Tsu                  53
Country               0
Location Name         0
Latitude              0
Longitude             0
Focal Depth (km)     88
Mag                  52
Deaths              145
Missing             196
Injuries            175
Damage ($Mil)       180
Houses Destroyed    185
Houses Damaged      191
dtype: int64

C:\Users\realx\AppData\Local\Temp\ipykernel_5376\3488864607.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Mo"].fillna(Mo_prom_entero, inplace=True)

In [177]:
df

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,1520,7,NaN,NaN,NaN,NaN,CHILE,CHILE,-40,-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1543,7,NaN,NaN,NaN,NaN,CHILE,CHILE,-19,-70.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1562,10,28,10,NaN,178,CHILE,CHILE,-38.7,-73.5,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN
3,1570,2,8,13,NaN,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,NaN,8.3,NaN,NaN,NaN,NaN,NaN,NaN
4,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,NaN,8.5,21,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2019,1,20,1,32,NaN,CHILE,"CHILE: COQUIMBO, LA SERENA",-30.04,-71.382,63,6.7,2,NaN,NaN,NaN,NaN,1061
194,2019,6,14,0,19,5710,CHILE,CHILE: COQUIMBO,-30.056,-72.082,11,6.4,NaN,NaN,NaN,NaN,NaN,NaN
195,2019,9,26,16,36,NaN,CHILE,CHILE: SOUTH CENTRAL,-40.815,-72.002,129,6.1,1,NaN,NaN,NaN,NaN,NaN
196,2019,9,29,15,57,NaN,CHILE,CHILE: CONCEPCION,-35.473,-73.162,11,6.8,1,NaN,NaN,NaN,NaN,NaN
197,2020,12,27,21,39,5760,CHILE,CHILE: OFF COAST CENTRAL,-39.343,-74.99,10,6.7,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
# Calcula el promedio de la columna "Dy"
Dy_prom = df["Dy"].astype("float").mean(axis=0)

# Redondea el promedio al entero m√°s cercano
Dy_prom_entero = int(round(Dy_prom))

# Reemplaza los valores faltantes en la columna "Dy" por su promedio entero
df["Dy"].fillna(Dy_prom_entero, inplace=True)

# Cantidad actualizada de valores faltantes en cada columna
print(df.isnull().sum())

Year                  0
Mo                    0
Dy                    0
Hr                   47
Mn                   51
Tsu                  53
Country               0
Location Name         0
Latitude              0
Longitude             0
Focal Depth (km)     88
Mag                  52
Deaths              145
Missing             196
Injuries            175
Damage ($Mil)       180
Houses Destroyed    185
Houses Damaged      191
dtype: int64

C:\Users\realx\AppData\Local\Temp\ipykernel_5376\3730279167.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Dy"].fillna(Dy_prom_entero, inplace=True)

In [179]:
df

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,1520,7,15,NaN,NaN,NaN,CHILE,CHILE,-40,-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1543,7,15,NaN,NaN,NaN,CHILE,CHILE,-19,-70.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1562,10,28,10,NaN,178,CHILE,CHILE,-38.7,-73.5,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN
3,1570,2,8,13,NaN,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,NaN,8.3,NaN,NaN,NaN,NaN,NaN,NaN
4,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,NaN,8.5,21,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2019,1,20,1,32,NaN,CHILE,"CHILE: COQUIMBO, LA SERENA",-30.04,-71.382,63,6.7,2,NaN,NaN,NaN,NaN,1061
194,2019,6,14,0,19,5710,CHILE,CHILE: COQUIMBO,-30.056,-72.082,11,6.4,NaN,NaN,NaN,NaN,NaN,NaN
195,2019,9,26,16,36,NaN,CHILE,CHILE: SOUTH CENTRAL,-40.815,-72.002,129,6.1,1,NaN,NaN,NaN,NaN,NaN
196,2019,9,29,15,57,NaN,CHILE,CHILE: CONCEPCION,-35.473,-73.162,11,6.8,1,NaN,NaN,NaN,NaN,NaN
197,2020,12,27,21,39,5760,CHILE,CHILE: OFF COAST CENTRAL,-39.343,-74.99,10,6.7,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
# Calcula el promedio de la columna "Hr"
Hr_prom = df["Hr"].astype("float").mean(axis=0)

# Redondea el promedio al entero m√°s cercano
Hr_prom_entero = int(round(Hr_prom))

# Reemplaza los valores faltantes en la columna "Hr" por su promedio entero
df["Hr"].fillna(Hr_prom_entero, inplace=True)

# Cantidad actualizada de valores faltantes en cada columna
print(df.isnull().sum())

Year                  0
Mo                    0
Dy                    0
Hr                    0
Mn                   51
Tsu                  53
Country               0
Location Name         0
Latitude              0
Longitude             0
Focal Depth (km)     88
Mag                  52
Deaths              145
Missing             196
Injuries            175
Damage ($Mil)       180
Houses Destroyed    185
Houses Damaged      191
dtype: int64

C:\Users\realx\AppData\Local\Temp\ipykernel_5376\3009378380.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Hr"].fillna(Hr_prom_entero, inplace=True)

In [181]:
# Calcula el promedio de la columna "Mn"
Mn_prom = df["Mn"].astype("float").mean(axis=0)

# Redondea el promedio al entero m√°s cercano
Mn_prom_entero = int(round(Mn_prom))

# Reemplaza los valores faltantes en la columna "Mn" por su promedio entero
df["Mn"].fillna(Mn_prom_entero, inplace=True)

# Cantidad actualizada de valores faltantes en cada columna
print(df.isnull().sum())

Year                  0
Mo                    0
Dy                    0
Hr                    0
Mn                    0
Tsu                  53
Country               0
Location Name         0
Latitude              0
Longitude             0
Focal Depth (km)     88
Mag                  52
Deaths              145
Missing             196
Injuries            175
Damage ($Mil)       180
Houses Destroyed    185
Houses Damaged      191
dtype: int64

C:\Users\realx\AppData\Local\Temp\ipykernel_5376\1284906923.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Mn"].fillna(Mn_prom_entero, inplace=True)

In [182]:
df

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,1520,7,15,12,28,NaN,CHILE,CHILE,-40,-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1543,7,15,12,28,NaN,CHILE,CHILE,-19,-70.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1562,10,28,10,28,178,CHILE,CHILE,-38.7,-73.5,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN
3,1570,2,8,13,28,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,NaN,8.3,NaN,NaN,NaN,NaN,NaN,NaN
4,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,NaN,8.5,21,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2019,1,20,1,32,NaN,CHILE,"CHILE: COQUIMBO, LA SERENA",-30.04,-71.382,63,6.7,2,NaN,NaN,NaN,NaN,1061
194,2019,6,14,0,19,5710,CHILE,CHILE: COQUIMBO,-30.056,-72.082,11,6.4,NaN,NaN,NaN,NaN,NaN,NaN
195,2019,9,26,16,36,NaN,CHILE,CHILE: SOUTH CENTRAL,-40.815,-72.002,129,6.1,1,NaN,NaN,NaN,NaN,NaN
196,2019,9,29,15,57,NaN,CHILE,CHILE: CONCEPCION,-35.473,-73.162,11,6.8,1,NaN,NaN,NaN,NaN,NaN
197,2020,12,27,21,39,5760,CHILE,CHILE: OFF COAST CENTRAL,-39.343,-74.99,10,6.7,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
# Reemplaza los valores faltantes en la columna "Tsu", "Deaths" y "Missing" por 0
df["Tsu"].fillna(0, inplace=True)
df["Deaths"].fillna(0, inplace=True)
df["Missing"].fillna(0, inplace=True)

# Cantidad actualizada de valores faltantes en cada columna
print(df.isnull().sum())
df

Year                  0
Mo                    0
Dy                    0
Hr                    0
Mn                    0
Tsu                   0
Country               0
Location Name         0
Latitude              0
Longitude             0
Focal Depth (km)     88
Mag                  52
Deaths                0
Missing               0
Injuries            175
Damage ($Mil)       180
Houses Destroyed    185
Houses Damaged      191
dtype: int64

C:\Users\realx\AppData\Local\Temp\ipykernel_5376\3453879362.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Tsu"].fillna(0, inplace=True)
C:\Users\realx\AppData\Local\Temp\ipykernel_5376\3453879362.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Deaths"].fillna(0, inplace=True)
C:\Users\realx\AppData\Local\Temp\ipykernel_5376\3453879362.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Missing"].fillna(0, inplace=True)

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,1520,7,15,12,28,0,CHILE,CHILE,-40,-74,NaN,NaN,0,0,NaN,NaN,NaN,NaN
1,1543,7,15,12,28,0,CHILE,CHILE,-19,-70.5,NaN,NaN,0,0,NaN,NaN,NaN,NaN
2,1562,10,28,10,28,178,CHILE,CHILE,-38.7,-73.5,NaN,8,0,0,NaN,NaN,NaN,NaN
3,1570,2,8,13,28,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,NaN,8.3,0,0,NaN,NaN,NaN,NaN
4,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,NaN,8.5,21,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2019,1,20,1,32,0,CHILE,"CHILE: COQUIMBO, LA SERENA",-30.04,-71.382,63,6.7,2,0,NaN,NaN,NaN,1061
194,2019,6,14,0,19,5710,CHILE,CHILE: COQUIMBO,-30.056,-72.082,11,6.4,0,0,NaN,NaN,NaN,NaN
195,2019,9,26,16,36,0,CHILE,CHILE: SOUTH CENTRAL,-40.815,-72.002,129,6.1,1,0,NaN,NaN,NaN,NaN
196,2019,9,29,15,57,0,CHILE,CHILE: CONCEPCION,-35.473,-73.162,11,6.8,1,0,NaN,NaN,NaN,NaN
197,2020,12,27,21,39,5760,CHILE,CHILE: OFF COAST CENTRAL,-39.343,-74.99,10,6.7,0,0,NaN,NaN,NaN,NaN

In [184]:
# Calcula el promedio de la columna "Focal Depth (km)"
Focal_depth_prom = df["Focal Depth (km)"].astype("float").mean(axis=0)

# Redondea el promedio al entero m√°s cercano
Focal_depth_prom_entero = int(round(Focal_depth_prom))

# Reemplaza los valores faltantes en la columna "Focal Depth (km)" por su promedio entero
df["Focal Depth (km)"].fillna(Focal_depth_prom_entero, inplace=True)

# Cantidad actualizada de valores faltantes en cada columna
print(df.isnull().sum())
df

Year                  0
Mo                    0
Dy                    0
Hr                    0
Mn                    0
Tsu                   0
Country               0
Location Name         0
Latitude              0
Longitude             0
Focal Depth (km)      0
Mag                  52
Deaths                0
Missing               0
Injuries            175
Damage ($Mil)       180
Houses Destroyed    185
Houses Damaged      191
dtype: int64

C:\Users\realx\AppData\Local\Temp\ipykernel_5376\3777551861.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Focal Depth (km)"].fillna(Focal_depth_prom_entero, inplace=True)

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,1520,7,15,12,28,0,CHILE,CHILE,-40,-74,43,NaN,0,0,NaN,NaN,NaN,NaN
1,1543,7,15,12,28,0,CHILE,CHILE,-19,-70.5,43,NaN,0,0,NaN,NaN,NaN,NaN
2,1562,10,28,10,28,178,CHILE,CHILE,-38.7,-73.5,43,8,0,0,NaN,NaN,NaN,NaN
3,1570,2,8,13,28,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,43,8.3,0,0,NaN,NaN,NaN,NaN
4,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,43,8.5,21,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2019,1,20,1,32,0,CHILE,"CHILE: COQUIMBO, LA SERENA",-30.04,-71.382,63,6.7,2,0,NaN,NaN,NaN,1061
194,2019,6,14,0,19,5710,CHILE,CHILE: COQUIMBO,-30.056,-72.082,11,6.4,0,0,NaN,NaN,NaN,NaN
195,2019,9,26,16,36,0,CHILE,CHILE: SOUTH CENTRAL,-40.815,-72.002,129,6.1,1,0,NaN,NaN,NaN,NaN
196,2019,9,29,15,57,0,CHILE,CHILE: CONCEPCION,-35.473,-73.162,11,6.8,1,0,NaN,NaN,NaN,NaN
197,2020,12,27,21,39,5760,CHILE,CHILE: OFF COAST CENTRAL,-39.343,-74.99,10,6.7,0,0,NaN,NaN,NaN,NaN

In [185]:
# Calcula el promedio de la columna "Mag"
Mag_prom = df["Mag"].astype("float").mean(axis=0)

# Reemplaza los valores faltantes en la columna "Mag" por el promedio con un decimal
df["Mag"].fillna(round(Mag_prom, 1), inplace=True)

# Cantidad actualizada de valores faltantes en cada columna
print(df.isnull().sum())
df

Year                  0
Mo                    0
Dy                    0
Hr                    0
Mn                    0
Tsu                   0
Country               0
Location Name         0
Latitude              0
Longitude             0
Focal Depth (km)      0
Mag                   0
Deaths                0
Missing               0
Injuries            175
Damage ($Mil)       180
Houses Destroyed    185
Houses Damaged      191
dtype: int64

C:\Users\realx\AppData\Local\Temp\ipykernel_5376\440714913.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Mag"].fillna(round(Mag_prom, 1), inplace=True)

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,1520,7,15,12,28,0,CHILE,CHILE,-40,-74,43,7.2,0,0,NaN,NaN,NaN,NaN
1,1543,7,15,12,28,0,CHILE,CHILE,-19,-70.5,43,7.2,0,0,NaN,NaN,NaN,NaN
2,1562,10,28,10,28,178,CHILE,CHILE,-38.7,-73.5,43,8,0,0,NaN,NaN,NaN,NaN
3,1570,2,8,13,28,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,43,8.3,0,0,NaN,NaN,NaN,NaN
4,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,43,8.5,21,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2019,1,20,1,32,0,CHILE,"CHILE: COQUIMBO, LA SERENA",-30.04,-71.382,63,6.7,2,0,NaN,NaN,NaN,1061
194,2019,6,14,0,19,5710,CHILE,CHILE: COQUIMBO,-30.056,-72.082,11,6.4,0,0,NaN,NaN,NaN,NaN
195,2019,9,26,16,36,0,CHILE,CHILE: SOUTH CENTRAL,-40.815,-72.002,129,6.1,1,0,NaN,NaN,NaN,NaN
196,2019,9,29,15,57,0,CHILE,CHILE: CONCEPCION,-35.473,-73.162,11,6.8,1,0,NaN,NaN,NaN,NaN
197,2020,12,27,21,39,5760,CHILE,CHILE: OFF COAST CENTRAL,-39.343,-74.99,10,6.7,0,0,NaN,NaN,NaN,NaN

In [187]:
# Calcula el promedio de la columna "Injuries"
Injuries_prom = df["Injuries"].astype("float").mean(axis=0)

# Redondea el promedio al entero m√°s cercano
Injuries_prom_entero = int(round(Injuries_prom))

# Reemplaza los valores faltantes en la columna "Injuries" por el promedio entero
df["Injuries"].fillna(Injuries_prom_entero, inplace=True)

# Cantidad actualizada de valores faltantes en cada columna
print(df.isnull().sum())
df

Year                  0
Mo                    0
Dy                    0
Hr                    0
Mn                    0
Tsu                   0
Country               0
Location Name         0
Latitude              0
Longitude             0
Focal Depth (km)      0
Mag                   0
Deaths                0
Missing               0
Injuries              0
Damage ($Mil)       180
Houses Destroyed    185
Houses Damaged      191
dtype: int64

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,1520,7,15,12,28,0,CHILE,CHILE,-40,-74,43,7.2,0,0,854,NaN,NaN,NaN
1,1543,7,15,12,28,0,CHILE,CHILE,-19,-70.5,43,7.2,0,0,854,NaN,NaN,NaN
2,1562,10,28,10,28,178,CHILE,CHILE,-38.7,-73.5,43,8,0,0,854,NaN,NaN,NaN
3,1570,2,8,13,28,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,43,8.3,0,0,854,NaN,NaN,NaN
4,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,43,8.5,21,0,854,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2019,1,20,1,32,0,CHILE,"CHILE: COQUIMBO, LA SERENA",-30.04,-71.382,63,6.7,2,0,854,NaN,NaN,1061
194,2019,6,14,0,19,5710,CHILE,CHILE: COQUIMBO,-30.056,-72.082,11,6.4,0,0,854,NaN,NaN,NaN
195,2019,9,26,16,36,0,CHILE,CHILE: SOUTH CENTRAL,-40.815,-72.002,129,6.1,1,0,854,NaN,NaN,NaN
196,2019,9,29,15,57,0,CHILE,CHILE: CONCEPCION,-35.473,-73.162,11,6.8,1,0,854,NaN,NaN,NaN
197,2020,12,27,21,39,5760,CHILE,CHILE: OFF COAST CENTRAL,-39.343,-74.99,10,6.7,0,0,854,NaN,NaN,NaN

In [189]:
# Calcula el promedio para "Damage ($Mil)"
damage_prom = df["Damage ($Mil)"].astype("float").mean(axis=0)
# Redondea el promedio al entero m√°s cercano
damage_prom_entero = int(round(damage_prom))
# Reemplaza los valores faltantes en "Damage ($Mil)" por el promedio entero
df["Damage ($Mil)"].fillna(damage_prom_entero, inplace=True)

# Calcula el promedio para "Houses Destroyed"
destroyed_prom = df["Houses Destroyed"].astype("float").mean(axis=0)
# Redondea el promedio al entero m√°s cercano
destroyed_prom_entero = int(round(destroyed_prom))
# Reemplaza los valores faltantes en "Houses Destroyed" por el promedio entero
df["Houses Destroyed"].fillna(destroyed_prom_entero, inplace=True)

# Calcula el promedio para "Houses Damaged"
damaged_prom = df["Houses Damaged"].astype("float").mean(axis=0)
# Redondea el promedio al entero m√°s cercano
damaged_prom_entero = int(round(damaged_prom))
# Reemplaza los valores faltantes en "Houses Damaged" por el promedio entero
df["Houses Damaged"].fillna(damaged_prom_entero, inplace=True)

# Cantidad actualizada de valores faltantes en cada columna
print(df.isnull().sum())
df

Year                0
Mo                  0
Dy                  0
Hr                  0
Mn                  0
Tsu                 0
Country             0
Location Name       0
Latitude            0
Longitude           0
Focal Depth (km)    0
Mag                 0
Deaths              0
Missing             0
Injuries            0
Damage ($Mil)       0
Houses Destroyed    0
Houses Damaged      0
dtype: int64

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,1520,7,15,12,28,0,CHILE,CHILE,-40,-74,43,7.2,0,0,854,1952,5309,75712
1,1543,7,15,12,28,0,CHILE,CHILE,-19,-70.5,43,7.2,0,0,854,1952,5309,75712
2,1562,10,28,10,28,178,CHILE,CHILE,-38.7,-73.5,43,8,0,0,854,1952,5309,75712
3,1570,2,8,13,28,179,CHILE,CHILE: OLD CONCEPCION,-36.75,-73,43,8.3,0,0,854,1952,5309,75712
4,1575,12,16,18,30,185,CHILE,CHILE: VALDIVIA,-39.8,-73.2,43,8.5,21,0,854,1952,5309,75712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2019,1,20,1,32,0,CHILE,"CHILE: COQUIMBO, LA SERENA",-30.04,-71.382,63,6.7,2,0,854,1952,5309,1061
194,2019,6,14,0,19,5710,CHILE,CHILE: COQUIMBO,-30.056,-72.082,11,6.4,0,0,854,1952,5309,75712
195,2019,9,26,16,36,0,CHILE,CHILE: SOUTH CENTRAL,-40.815,-72.002,129,6.1,1,0,854,1952,5309,75712
196,2019,9,29,15,57,0,CHILE,CHILE: CONCEPCION,-35.473,-73.162,11,6.8,1,0,854,1952,5309,75712
197,2020,12,27,21,39,5760,CHILE,CHILE: OFF COAST CENTRAL,-39.343,-74.99,10,6.7,0,0,854,1952,5309,75712

Estandarizar datos de entrada.

In [195]:
print(df[columnas_numericas].dtypes)

Year                object
Mo                  object
Dy                  object
Hr                  object
Mn                  object
Tsu                 object
Latitude            object
Longitude           object
Focal Depth (km)    object
Mag                 object
Deaths              object
Missing             object
Injuries            object
Damage ($Mil)       object
Houses Destroyed    object
Houses Damaged      object
dtype: object

In [196]:
# Convertir columnas a tipo num√©rico
df[columnas_numericas] = df[columnas_numericas].apply(pd.to_numeric, errors='coerce')

# Verificar los tipos de datos despu√©s de la conversi√≥n
print(df[columnas_numericas].dtypes)

Year                  int64
Mo                    int64
Dy                    int64
Hr                    int64
Mn                    int64
Tsu                   int64
Latitude            float64
Longitude           float64
Focal Depth (km)      int64
Mag                 float64
Deaths                int64
Missing               int64
Injuries              int64
Damage ($Mil)       float64
Houses Destroyed      int64
Houses Damaged        int64
dtype: object

Agrupar datos de entrada.

In [200]:
# Agrupar por a√±o y calcular el promedio de la magnitud de los terremotos
promedio_magnitud_por_a√±o = df.groupby('Year')['Mag'].mean()

# Imprimir los resultados
print(promedio_magnitud_por_a√±o)
df

Year
0.000    0.488889
0.046    0.488889
0.084    0.666667
0.100    0.733333
0.110    0.777778
           ...
0.990    0.577778
0.992    0.577778
0.994    0.255556
0.998    0.333333
1.000    0.377778
Name: Mag, Length: 123, dtype: float64

,Year,Mo,Dy,Hr,Mn,Tsu,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,Deaths,Missing,Injuries,Damage ($Mil),Houses Destroyed,Houses Damaged
0,0.000,0.545455,0.466667,0.521739,0.474576,0.000000,CHILE,CHILE,0.385441,0.858499,0.309524,0.488889,0.000000,0.0,0.071089,0.065054,0.090315,0.151421
1,0.046,0.545455,0.466667,0.521739,0.474576,0.000000,CHILE,CHILE,0.963603,0.934692,0.309524,0.488889,0.000000,0.0,0.071089,0.065054,0.090315,0.151421
2,0.084,0.818182,0.900000,0.434783,0.474576,0.030903,CHILE,CHILE,0.421232,0.869383,0.309524,0.666667,0.000000,0.0,0.071089,0.065054,0.090315,0.151421
3,0.100,0.090909,0.233333,0.565217,0.474576,0.031076,CHILE,CHILE: OLD CONCEPCION,0.474919,0.880268,0.309524,0.733333,0.000000,0.0,0.071089,0.065054,0.090315,0.151421
4,0.110,1.000000,0.500000,0.782609,0.508475,0.032118,CHILE,CHILE: VALDIVIA,0.390948,0.875914,0.309524,0.777778,0.000700,0.0,0.071089,0.065054,0.090315,0.151421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,0.998,0.000000,0.633333,0.043478,0.542373,0.000000,CHILE,"CHILE: COQUIMBO, LA SERENA",0.659655,0.915491,0.468254,0.377778,0.000067,0.0,0.071089,0.065054,0.090315,0.002118
194,0.998,0.454545,0.433333,0.000000,0.322034,0.991319,CHILE,CHILE: COQUIMBO,0.659215,0.900253,0.055556,0.311111,0.000000,0.0,0.071089,0.065054,0.090315,0.151421
195,0.998,0.727273,0.833333,0.695652,0.610169,0.000000,CHILE,CHILE: SOUTH CENTRAL,0.363003,0.901994,0.992063,0.244444,0.000033,0.0,0.071089,0.065054,0.090315,0.151421
196,0.998,0.727273,0.933333,0.652174,0.966102,0.000000,CHILE,CHILE: CONCEPCION,0.510077,0.876742,0.055556,0.400000,0.000033,0.0,0.071089,0.065054,0.090315,0.151421
197,1.000,1.000000,0.866667,0.913043,0.661017,1.000000,CHILE,CHILE: OFF COAST CENTRAL,0.403530,0.836947,0.047619,0.377778,0.000000,0.0,0.071089,0.065054,0.090315,0.151421